 <h2 class="tableHeader">Overview games</h2>
		  
		  <table class="tableToSort">
			<thead>
                            <th>Name</th>
                            <th>Highscore</th>
                            <th>developer</th>
                            <th>No. achievements</th>
                            <th>Releasedate</th>
			</thead>
                      <tbody>
                          {% for game in games %}
                          <tr class="even">
                              <td class="gameName" ><a href="{{ url}}/index.php/games/{{ game.developer }}/{{ game.name }}">{{game.name}}</td>
                              <td class="gameHighscore" >{{game.highscore}}</td>
                              <td class="gameDeveloper">{{game.developer}}</td>
                              <td class="gameAchievements">{{game.achievements}}</td>
                              <td class="gameReleasedate">{{game.releaseDate}}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
		  </table>