{% autoescape false %}
<h2 class="tableHeader">Overzicht gebruikers</h2>
		  
		  <table class="tableToSort">
                    <thead>
                        <th>Rank</th>
                        <th>Nickname</th>
                        <th>Score</th>
                        <th>Achievements</th>
                        <th>Highscores</th>
                    </thead>
                      <tbody>
                          {% for user in users %}
                            {% if loop.index is even %}
                                <tr class="even">
                            {% elseif loop.index is odd %}
                                <tr class="odd">  
                            {% endif %}
                                    <td class="ranking"> #{{ user.rank }}</td>  
                                  <td> 
                                      <a href="{{url}}/index.php/users/{{user.id}}">{{ user.nickname }}</a>
                                  </td>
                                  <td class="userScore">{{ user.score }}</td>
                                  <td class="achievements">{{ user.achievements }}</td>
                                  <td class="highscores">{{ user.highscores}}</td>
                              </tr>
                          {% endfor %}
                      </tbody>
		  </table>{# empty Twig template #}
{% endautoescape %}