{% autoescape false %}
<div class="userPage">

    <div>
        User : <span class="nickName">{{nickname }}</span>
    </div>
    <div>
        Score : <span class="score">{{ score }}</span>
    </div>
    <div>
        Ranking : <span class="nickName">#{{ranking }}</span>
    </div>
    <div>
        Highscores : <span class="nickName">{{highscore }}</span>
    </div>
    
    {{ listOfHighscores }}
    {{ listOfAchievements }}
</div>
{% endautoescape %}